@import "azure-devops-ui/Core/_platformCommon.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.branch {
  &--content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 4px;
  }

  &--group {
    margin-bottom: 20px;

    &-label {
      display: block;
      padding: 5px 0;
      font-size: $fontSizeML;
      font-weight: $fontWeightSemiBold;
    }
  }

  &--add-button {
    text-align: right;
  }

}