@import "azure-devops-ui/Core/_platformCommon.scss";

.release {
  &--content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 4px;
  }

  &--group {
    margin-bottom: 20px;

    &-label {
      display: block;
      padding: 5px 0;
      font-size: $fontSizeML;
      font-weight: $fontWeightSemiBold;
    }
  }

  &--add-button {
    text-align: right;
  }
 
  &--loading {
    margin-top: 60px;
  }

  &--panel
  {
    margin-top: 10px;
    padding: 10px;
    background: $neutral-4
  }

  &--alert
  {
    margin-top: 10px;
  }

}